.App {
  text-align: center;
}

html {
  background-color: #282c34;
}

.project-name {
  color: #fff;
}

.form-item {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 50px;
}

.form-item input {
  margin-left: 20px;
}

video {
  width: 40%;
}